@media(max-width:1200px){
   .floating1{
	 display:none;
   }
   .floating2{
	 display:none;
   }
   .floating3{
	 display:none;
   }
   .floating4{
	 display:none;
   }
   .floating5{
	 display:none;
   }
   .floating6{
	 display:none;
   }
   .floating7{
	 display:none;
   }
   .floating8{
	 display:none;
   }
}

.floating1 {
	width: 80px;
	height: 80px;
	animation: box_ani1 30s linear infinite alternate running;
	position: fixed;
	top:400px;
	left: -40px;
	z-index: 0;
}



.floating2 {
	width: 50px;
	height: 50px;
	animation: box_ani2 30s linear infinite alternate running;
	position: fixed;
	top:350px;
	left: 20px;
	z-index: 0;
}

.floating3 {
	width: 80px;
	height: 80px;
	animation: box_ani3 32s linear infinite alternate running;
	position: fixed;
	top: 250px;
	z-index: 0;
}

.floating4 {
	width: 30px;
	height: 30px;
	animation: box_ani4 35s linear infinite alternate running;
	position: fixed;
	right:40px;
	top: 400px;
	z-index: 0;
}

.floating5 {
	width: 70px;
	height: 70px;
	animation: box_ani5 58s linear infinite alternate running;
	position: fixed;
	right: 0px;
	top: 320px;
	z-index: 0;
}

.floating6 {
	width: 50px;
	height: 50px;
	animation: box_ani6 51s linear infinite alternate running;
	position: fixed;
	top: 230px;
	right:10px;

	z-index: 0;
}

.floating7 {
	width: 150px;
	height: 150px;
	animation: box_ani7 54s linear infinite alternate running;
	position: absolute;
	z-index: 0;
}

.floating8 {
	width: 150px;
	height: 150px;
	animation: box_ani7 54s linear infinite alternate running;
	position: absolute;
	z-index: 0;
}


@keyframes box_ani1 {
	0%{transform:translate(0,0) scale(1,1) rotate(0deg);}
	50%{transform:translate(40px,0) scale(1,1) rotate(0deg);}


}

@keyframes box_ani2 {
	0%{transform:translate(0,0) scale(0.3,0.3) rotate(0deg);}
	20%{transform:translate(50px,0) scale(0.2,0.2) rotate(0deg);}

}

@keyframes box_ani3 {
	0%{transform:translate(100px,40px) scale(0.3,0.3) rotate(0deg);}


}

@keyframes box_ani4 {
	0%{transform:translate(0,0) scale(1,1) rotate(0deg);}
	0%{transform:translate(-100px,0px) scale(0.8,0.8) rotate(0deg);}


}

@keyframes box_ani5 {
	0%{transform:translate(0,0) scale(1,1) rotate(0deg);}
	50%{transform:translate(50px,0) scale(1,1) rotate(0deg);}


}

@keyframes box_ani6 {
	0%{transform:translate(0,0) scale(0.3,0.3) rotate(0deg);}
	40%{transform:translate(-100px,0) scale(0.3,0.3) rotate(0deg);}


}

@keyframes box_ani7 {
	0%{transform:translate(0,0) scale(0.3,0.3) rotate(0deg);}


}

@keyframes box_ani8 {
	0%{transform:translate(0,0) scale(0.3,0.3) rotate(0deg);}


}