@charset "UTF-8";
/* The Modal (background) */
#imModal {
	display: none;
}

.modal {
	display: block; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: initial;
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	display: flex;
	flex-direction: column;
	height: 30%;
	overflow-y: auto;
	top: 25%;
	/* background-color: #F7F6F2; */
	margin: 130px auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 30%; /* Could be more or less, depending on screen size */
	min-width: 26em;
}

.modaltext {
	margin-top: auto;
	font-size: 18pt;
	text-align: center;
	font-family: HoonDdukbokki;
}

.modalbutton {
	margin-top: 1em;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}
/* The Close Button */
.close {
	margin-left: auto;
	display: inline-block;
	width: 20px;
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}