#products {
    background: #df3c17;
    padding: 50px 0
}

@media(min-width: 800px) {
	.info_container {
		width: 20%;
	}
}


.item-list p {
    margin: 12px
}


.main {
	background-image: url(https://huga.s3.ap-northeast-2.amazonaws.com/category/tips_bg%402x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    font-family: JejuMyeongjo;
}

.list-unstyled h3 {
    font-size: 30px;
    font-weight: bold;
    line-height: 0.5;
    letter-spacing: -0.9px;
}

.list-unstyled {
    width: 90%;
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 63px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    font-family: inherit;
}

.container1 {
	display: flex;
    flex-wrap: wrap;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5em;
/* 	background-color :#FDF5E6;
    border-radius: 50px;
	box-shadow: 5px 5px 10px gray; */

}

.info_container {
	display: flex;

	flex-direction: column;
	justify-content: center;
	font-family: KyoboHand;
	margin-top:2em;
 	margin-bottom:2em;
	margin-right: 1.2em;
	background-color :#FDF5E6;
    border-radius: 50px;
	box-shadow: 5px 5px 10px gray;
}


.f_nick {
	font-size:30pt;
	margin-left: auto;
	margin-right: auto;
}

.f_name {
	font-size:18pt;
	margin-left: auto;
	margin-right: auto;
}

.f_shape{
	width: 60%;
	hight: 50%;
	margin-right: auto;
	margin-left: auto;

}

.f_shape img{
	width: 100%;
}

.stat_container {
	width: 100%;
}

.stat_title {
	text-align: center;
	font-size: 18pt;
	font-family : KyoboHand;
}

.container2 {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.container2 h2 {
	font-family: KyoboHand;
	margin-top:2em;
}

.my_info {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.others_info {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.infobox {
	width : 25em;
	height: 20em;
	margin-right:auto;
	margin-left: auto;
	margin-bottom: 2em;
	background-color: #eee;
    border-radius: 50px;
	box-shadow: 5px 5px 10px gray;
}

.lightgray {
	background-color: #eee;
}

.lightred {
	background-color: #ffd3d3;
}

.lightblue {
	background-color: #d6e5fb;
}

.lightgreen {
	background-color: #d7f7da;
}

.infobox_title {
	margin-top: 1em;
	margin-left: 1.2em;
	font-size: 20pt;
	font-family: S-CoreDream-9Black;
	color: #707070;

}

.infobox_content {
	text-align:center;
	font-size:90pt;
	font-family: S-CoreDream-9Black;
	height:1.25em;
}

.infobox_title img {
	width: 10%;
	margin-right: 0.3em;
}

.diff {
	font-family: S-CoreDream-9Black;
	text-align:center;

}

.container3_title{
	margin-top:3em;
	width: 90%;
	margin-right:auto;
	margin-left:auto;
	font-family: KyoboHand;

}

.container3 {
	display: flex;
	flex-wrap: wrap;


	margin-left: auto;
	margin-right: auto;

	justify-content: space-between;
}

.f_info {
    padding: 20px;
    min-width: 17em;
    margin-bottom: 2em;
    font-family: KyoboHand;
    font-size: large;
}

.f_info img {
	width: 4em;;
	margin-right:auto;
	margin-left: auto;
}

.f_water_container {
	border-right: 1px solid black;

}

.f_sun_container {
	border-right: 1px solid black;

}

.f_hum_container {
	border-right: 1px solid black;

}